.homePage{
  position: relative;
  height: 77vh;
}

.productContainer{
    height: 33vh;
}

.categorySection {
  margin-bottom: 1rem;
}

.productContainer{
  h1{
    font-size: 1.6rem;
    font-weight: 500;
    color: #2F2F2F;
  }
}

.nextButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #505050;
  color: white;
  padding: .5rem 2rem;
  cursor: pointer;
  border: none;
  font-size: 9.5px;
  border-radius: .5rem;
}

.enterDetailsWrapper {
  width: 30vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 34.9%;
  background-color: rgba(255, 255, 255, 0.365);
}
